.activite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activite__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 18px;
    margin-bottom: 47px ;
}
.activite__content h2{
    margin-bottom: 20px;
}
.activite__content img{
  margin: auto;
}
.activite__span{
    line-height: 30px;
    margin-bottom: 50px;
}
.activite h3{
    font-weight: 700;
    text-transform: uppercase;
}


@media (min-width: 576px){
    .activite__content{
        width: 100%;
    }
  .activite__content div{
      display: flex;
      justify-content: space-around;

  }
}
@media (min-width: 992px){
.activite p{
    width: 80% ;
    margin: auto;
}

}

@media (min-width: 1400px){
   .activite__content{
       width: 80%;
       font-size: 24px;
       gap: 62px;
   }
   .activite{
       gap: 175px;
   }
   .activite h2{
       font-size: 36px;
   }
   .activite p{
       font-size: 24px;
       line-height: 1.5;
   }
   .activite h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
   }
}

