.reservation {
    padding: 5% 0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 12px;
}

input, select {
    border: 1px solid var(--color-green);
    width: 187px;
    font-size: 18px;
    font-family: var(--lato-light);
    color: var(--color-green);
}

.btn {
    width: 187px;
    height: 46px;
    background-color: var(--color-green);
    color: white;
    border-radius: 5px;
   margin: 0 auto;
}

@media (min-width: 576px){
    .form{
       
    }
    select, input{
        width: 100%;
    }
    .btn__reservation{
        margin: 0 auto;
    }
}