.service{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.service span{
    text-align: center;
    line-height: 1.5;
}
.service div{
    display: flex;
    flex-direction: column;
    
}

@media (min-width: 576px){
  .service div{
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
  }
}