/* reset css */
@import url("reset.css");
@import url("home.css");
@import url("agenda.css");
@import url("about.css");
@import url("service.css");
@import url("bungallow.css");
@import url("activite.css");
@import url("contact.css");


@font-face {
    font-family: "Lato-light";
    src: url(../font/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato-regular";
    src: url(../font/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-thin";
    src: url(../font/Lato-Thin.ttf);
}

body, html {
    --color-green: #5A7355;
    --color-black: #292929;
    --lato-light: "Lato-light";
    --Lato-thin: "Lato-thin";
    max-width: 1920px;
    margin: auto;
    overflow-x: hidden;
   font-family: var(--lato-light);
   scroll-behavior: smooth;
}
h2{
    color: var(--color-greengit);
    font-size: 24px;
   text-decoration: underline;
   text-align: center;
}
.header {
    background-color: var(--color-green);
    width: 100vw;
    position: fixed;
    z-index: 1;
}
.page{
    padding: 0 25px 25px 25px;
}
.header__navbar-off {
    display: none;
}

.header__navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header__navbar-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    color: white;
    font-size: 26px;
    margin-top: 90px;
    font-family: var(--lato-light);
}

.header__navbar-block a {
    text-decoration: none;
    color: white;
}

.header__logo {
    margin-top: 139px;
}

@media (min-width: 1024px) {

    .header {
        height: 78px;
    }

    .header__navbar {
        display: none;
    }

    .header__top {
        display: none;
    }

    .header__navbar-off {
        display: flex;
        justify-content: space-around;

    }

    .header__navbar-block {
        flex-direction: row;
    }

    .header__logo, .header__navbar-block {
        margin: 0;
    }

}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
  
    background-color: var(--color-black);
    font-family: var(--lato-light);
    color: white;
    gap: 50px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__nav-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;


}

.footer h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    color: var(--color-green);
}

.footer__nav-block a {
    text-decoration: none;
    color: white;
    font-size: 18px;

}

.footer-info a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.footer-info {
    gap: 18px;
    text-align: center;

}



.footer__block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.footer__contact img {
    margin: 20px 0;
    color: #5A7355;

}

.copy {
    text-align: center;
}
@media (min-width: 576px){
    .footer__nav-block{
        flex-direction: row;
    }
    .footer__block{
        flex-direction: row;
        justify-content: center;
    }
    }
@media (min-width: 1024px) {
    .footer {
        gap: 37px;
        padding: 30px;
    }

    .footer__nav-block, .footer-info {
        flex-direction: row;
    }

    .footer-info {
        justify-content: space-around;
    }

    .footer-info div {
        width: calc(100% / 3);
    }
    .footer__block {

        gap: 15px;
    }
    .footer__contact img{
        margin: 0;
    }
    .footer__nav-block a{
        font-size: 24px;
    }
  
}

@media (min-width: 1440px) {
    .footer-info {
        justify-content: space-around;
        width: 80%;
        margin: auto;
    } 
    .header__navbar{
       display: flex;
     flex-direction: row;
     height: auto;
     justify-content: space-around;
    }
    .page{
        padding: 0 25px 168px 0;
    }
    h2{
        font-size: 36px;
    }
}
